textarea {
    
    width: 600px;
	height: 120px;
    font-size: 15px;
    padding: 5px;
    margin-bottom:50px;
	font-style: italic;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

#demo{
	background-color: #FFFFFF; 
    border: none;
    color: black;
    outline:none;
    margin-bottom:10px;
    font-size: 15px;
    font-style: bold;
    font-family: Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
    
}



table, th, td {
    
    border: none;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 700px;
    margin: 20px;
}


body {  
  
  padding: 16px;
}

