textarea {
    
    width: 600px;
	height: 120px;
    font-size: 15px;
    padding: 5px;
    margin-bottom:50px;
	font-style: italic;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}




#filter,#demo,#download{
	background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 20px
    margin-bottom:10px;
    font-size: 15px;
    font-style: bold;
    font-family: Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
    
}


input{
    font-size: 15px;
    font-style: bold;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

#hello{

    width: 800px;
    height: 170px;
    
}

table, th, td {
    
    border: none;
    
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 700px;   
    margin: 20px;
}


body {  
  background-color: #F4F6F7           ;
  padding: 16px;
}

